@model ProjectDemoV1.ViewModel.Register
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png" type="image/x-icon">
    <title>ZOT - Zúp Ôn Tập</title>
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body class="signup">
    <div class="signup_container">
        <img src="~/Content/assets/img/logo.png" alt="logo">
        <h1>Đăng ký</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control input", placeholder = "Họ và tên" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control input BirthDay", placeholder = "Ngày sinh", @id = "datepicker" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="gender">
                    <h6>Giới tính</h6>
                    <div class="item">
                        @Html.RadioButtonFor(model => model.GenderId, "1")@Html.Label("Nam")
                    </div>
                    <div class="item">
                        @Html.RadioButtonFor(model => model.GenderId, "2")@Html.Label("Nữ")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input", placeholder = "Email" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control input", placeholder = "Số điện thoại" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control input", placeholder = "Trường" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input", placeholder = "Tên đăng nhập" } })</div>
                        <div>@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.PasswordFor(model => model.PassWord, new { @class = "form-control input", placeholder = "Mật khẩu" })</div>
                        <div>@Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div>@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input", placeholder = "Nhập lại mật khẩu" })</div>
                        <div>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "color: red; font-size: 12px;" })</div>
                    </div>
                </div>
                <div>
                    @Html.HiddenFor(model => model.RoleId, new { @class = "input", @Value = 3 })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.HiddenFor(model => model.CreateDate, new { @class = "input", @Value = DateTime.Now })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                </div>

                <div>
                    <input type="submit" value="Đăng ký">
                </div>
            </div>
        }
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE&libraries=places&sensor=true"></script>
    <script>
        var SearchPlaces = new google.maps.places.SearchBox(document.getElementById('SchoolName'));
        google.maps.event.addListener(SearchPlaces, 'places_changed', function () {
            var places = searchBox.getPlaces();
            var bounds = new google.maps.LatLngBounds();
            var i, place;
            for (i = 0; place = places[i]; i++) {
                bounds.extend(place.geometry.location);
                marker.setPosition(place.geometry.location);
            }
            map.fitBounds(bounds);
            map.setZoom(15);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'dd-mm-yyyy',
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            }).val();
        });
    </script>
</body>
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE&libraries=places&sensor=true"></script>
    <script>
        var SearchPlaces = new google.maps.places.SearchBox(document.getElementById('SchoolName'));
        google.maps.event.addListener(SearchPlaces, 'places_changed', function () {
            var places = searchBox.getPlaces();
            var bounds = new google.maps.LatLngBounds();
            var i, place;
            for (i = 0; place = places[i]; i++) {
                bounds.extend(place.geometry.location);
                marker.setPosition(place.geometry.location);
            }
            map.fitBounds(bounds);
            map.setZoom(15);
        });
    </script>
*@
</html>



